import os

# Stripe Keys are still valid
os.environ.setdefault("STRIPE_PUBLISHABLE", "")
os.environ.setdefault("STRIPE_SECRET", "")


# Add-on Heroku Postgres (generated on Heroku)
os.environ.setdefault("DATABASE_URL", "")

# updated
os.environ.setdefault("SECRET_KEY", "")
os.environ.setdefault("DEVELOPMENT", "True")


# Newly set up AWS S3 bucket:
os.environ.setdefault("AWS_ACCESS_KEY_ID", "")
os.environ.setdefault("AWS_SECRET_ACCESS_KEY", "")