{% extends 'base.html' %} 
{% load thumbnail %}

{% block content %}
<div class="jumbotron">
  <h1 class="h2">Purchase Credits</h1>
  <p class="lead">Buy more credits to give funding to feature requests.</p>
  <hr class="my-4">
  
  {% if request.user.profile.is_active_subscriber %}
  <p>You currently have <span class="badge badge-{% if user.profile.credits == 0 %}danger{% else %}secondary{% endif %}">{{ user.profile.credits }}</span> credits. How many do you want to buy?</p>
  <form name="creditPurchase" action="{% url 'credits_purchase' %}" method="POST">
    {% csrf_token %}
    <div class="form-group number-picker">
      <input type="number" name="credits_amount" value="10" min="10" max="500" step="10"/>
      <div class="invalid-feedback" id="errorMessage"></div>
    </div>
    <button type="submit" name="creditPurchaseSubmit" class="btn btn-success btn-lg">Buy More Credits</button>
    <script>
      $("input[type='number']").inputSpinner();
      $("input[type='number']").on("change", function (event) {
        $('#errorMessage').removeClass('shown-error');
      });
      $(document.creditPurchase.creditPurchaseSubmit).on("click", function (event) {
        if ($(document.creditPurchase.credits_amount).val() % 10 !== 0) {
          $('#errorMessage').html('You can only purchase credits in multiples of 10.').addClass('shown-error');
        }
      });
    </script>
  </form>
  <hr class="my-4">
  <div class="progress">
    <div class="progress-bar bg-secondary" role="progressbar" style="width: 33.3%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Step 1</div>
    <div class="progress-bar bg-light" role="progressbar" style="width: 33.3%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  {% else %}
    <p>Only Premium subscribers can purchase credits. Sign up now and you'll get {{ credits_per_subscription }} credits included.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'profile_upgrade' %}" role="button">Subscribe to Premium</a>
  {% endif %}
</div>
{% endblock %}